In [1]:
import pandas as pd

In [2]:
dates = pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
import numpy as np

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2019-03-01  1.377023  1.117260 -2.063823 -0.660935
2019-03-02  0.482118 -0.821662  0.233439  0.076431
2019-03-03  0.350881  1.097540  0.881603  1.632992
2019-03-04 -1.081674 -0.216515  1.844239  0.236358
2019-03-05  1.588638  0.289802  2.396268  1.571034
2019-03-06 -0.458730 -0.822784 -1.158886 -0.360371

In [7]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.values

array([[ 1.37702293,  1.11725969, -2.06382344, -0.66093489],
       [ 0.48211844, -0.82166229,  0.2334391 ,  0.07643126],
       [ 0.35088122,  1.09754039,  0.88160296,  1.63299174],
       [-1.08167447, -0.21651503,  1.84423936,  0.23635768],
       [ 1.58863841,  0.28980209,  2.39626757,  1.57103354],
       [-0.4587304 , -0.82278389, -1.1588861 , -0.360371  ]])

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.376376  0.107273  0.355473  0.415918
std    1.030148  0.879407  1.721584  0.972141
min   -1.081674 -0.822784 -2.063823 -0.660935
25%   -0.256327 -0.670375 -0.810805 -0.251170
50%    0.416500  0.036644  0.557521  0.156394
75%    1.153297  0.895606  1.603580  1.237365
max    1.588638  1.117260  2.396268  1.632992

In [14]:
df.sort_values(by='A') # 오름차순 정렬

                   A         B         C         D
2019-03-04 -1.081674 -0.216515  1.844239  0.236358
2019-03-06 -0.458730 -0.822784 -1.158886 -0.360371
2019-03-03  0.350881  1.097540  0.881603  1.632992
2019-03-02  0.482118 -0.821662  0.233439  0.076431
2019-03-01  1.377023  1.117260 -2.063823 -0.660935
2019-03-05  1.588638  0.289802  2.396268  1.571034

In [15]:
df.sort_values(by='A', ascending=False) # 내림차순 정렬

                   A         B         C         D
2019-03-05  1.588638  0.289802  2.396268  1.571034
2019-03-01  1.377023  1.117260 -2.063823 -0.660935
2019-03-02  0.482118 -0.821662  0.233439  0.076431
2019-03-03  0.350881  1.097540  0.881603  1.632992
2019-03-06 -0.458730 -0.822784 -1.158886 -0.360371
2019-03-04 -1.081674 -0.216515  1.844239  0.236358

In [16]:
df['A']

2019-03-01    1.377023
2019-03-02    0.482118
2019-03-03    0.350881
2019-03-04   -1.081674
2019-03-05    1.588638
2019-03-06   -0.458730
Freq: D, Name: A, dtype: float64

In [17]:
df.A

2019-03-01    1.377023
2019-03-02    0.482118
2019-03-03    0.350881
2019-03-04   -1.081674
2019-03-05    1.588638
2019-03-06   -0.458730
Freq: D, Name: A, dtype: float64

In [18]:
type(df.A)
# Series => 객체화?

pandas.core.series.Series

In [27]:
df.iloc[0:3]

                   A         B         C         D
2019-03-01  1.377023  1.117260 -2.063823 -0.660935
2019-03-02  0.482118 -0.821662  0.233439  0.076431
2019-03-03  0.350881  1.097540  0.881603  1.632992

In [ ]:
# df.loc[행]
# df.loc[행,열]
# df.loc[,열]

In [20]:
df.loc['2019-03-01']

A    1.377023
B    1.117260
C   -2.063823
D   -0.660935
Name: 2019-03-01 00:00:00, dtype: float64

In [22]:
df.loc['2019-03-01','A']
# iloc, loc는 하나만 쓰면 무조건 행,

1.377022930613862

In [24]:
df.loc['2019-03-01',['A','C']]

A    1.377023
C   -2.063823
Name: 2019-03-01 00:00:00, dtype: float64

In [25]:
df.loc[:,'A']

2019-03-01    1.377023
2019-03-02    0.482118
2019-03-03    0.350881
2019-03-04   -1.081674
2019-03-05    1.588638
2019-03-06   -0.458730
Freq: D, Name: A, dtype: float64

In [26]:
df.loc[:,['A','C']]

                   A         C
2019-03-01  1.377023 -2.063823
2019-03-02  0.482118  0.233439
2019-03-03  0.350881  0.881603
2019-03-04 -1.081674  1.844239
2019-03-05  1.588638  2.396268
2019-03-06 -0.458730 -1.158886

In [28]:
# df.iloc[행]
# df.iloc[행,열]
# df.iloc[,열]

In [30]:
# 이런식으로 쓸 수 없다. df.loc[:,['A':'C']]
# df.loc[:,['A','C']]
df.loc[:,'A':'C']

                   A         B         C
2019-03-01  1.377023  1.117260 -2.063823
2019-03-02  0.482118 -0.821662  0.233439
2019-03-03  0.350881  1.097540  0.881603
2019-03-04 -1.081674 -0.216515  1.844239
2019-03-05  1.588638  0.289802  2.396268
2019-03-06 -0.458730 -0.822784 -1.158886

In [31]:
# 변수 df는 "d"ata "f"rame의 약자 (table)

In [32]:
df.iloc[0]

A    1.377023
B    1.117260
C   -2.063823
D   -0.660935
Name: 2019-03-01 00:00:00, dtype: float64

In [33]:
df.shape

(6, 4)

In [34]:
df.iloc[5] # 한개만 썼으니 행 슬라이싱

A   -0.458730
B   -0.822784
C   -1.158886
D   -0.360371
Name: 2019-03-06 00:00:00, dtype: float64

In [35]:
df.iloc[3:5] # 행 슬라이싱 범위 :을 써라, 3~4에 해당하는 인덱스, 원본은 해치지 않고 추출만 해서 가져옴

                   A         B         C         D
2019-03-04 -1.081674 -0.216515  1.844239  0.236358
2019-03-05  1.588638  0.289802  2.396268  1.571034

In [37]:
imsi = df.iloc[3:5] # iloc, loc는 비파괴함수, 원본을 변경시키지 않고 일부만 추출해서 사용
imsi
# 일부만 추출한 결과를 가지고 여러 처리를 하고자 하는 경우, 변수에 저장해놓아야 한다.ㅇ

                   A         B         C         D
2019-03-04 -1.081674 -0.216515  1.844239  0.236358
2019-03-05  1.588638  0.289802  2.396268  1.571034

In [38]:
df.iloc[:4] # 3부터 앞으로 끝까지

                   A         B         C         D
2019-03-01  1.377023  1.117260 -2.063823 -0.660935
2019-03-02  0.482118 -0.821662  0.233439  0.076431
2019-03-03  0.350881  1.097540  0.881603  1.632992
2019-03-04 -1.081674 -0.216515  1.844239  0.236358

In [39]:
df.iloc[ :, 0] # 모든 행, 0열(A항목) 추출

2019-03-01    1.377023
2019-03-02    0.482118
2019-03-03    0.350881
2019-03-04   -1.081674
2019-03-05    1.588638
2019-03-06   -0.458730
Freq: D, Name: A, dtype: float64

In [40]:
df.A

2019-03-01    1.377023
2019-03-02    0.482118
2019-03-03    0.350881
2019-03-04   -1.081674
2019-03-05    1.588638
2019-03-06   -0.458730
Freq: D, Name: A, dtype: float64

In [41]:
df.A.dtype

dtype('float64')

In [42]:
df.iloc[:3, 1:4]

                   B         C         D
2019-03-01  1.117260 -2.063823 -0.660935
2019-03-02 -0.821662  0.233439  0.076431
2019-03-03  1.097540  0.881603  1.632992

In [43]:
# 일부분을 추출하고자 하는 경우 리스트를 써라 [1, 3, 5]
df.iloc[[0,3],1:3]

                   B         C
2019-03-01  1.117260 -2.063823
2019-03-04 -0.216515  1.844239

In [44]:
df.iloc[[0,3],[1,3]]

                   B         D
2019-03-01  1.117260 -0.660935
2019-03-04 -0.216515  0.236358

In [45]:
imsi3['STAR'] = range(0,3)

NameError: name 'imsi3' is not defined

In [46]:
df['A'] > 0

2019-03-01     True
2019-03-02     True
2019-03-03     True
2019-03-04    False
2019-03-05     True
2019-03-06    False
Freq: D, Name: A, dtype: bool

In [47]:
df[df['A'] > 0] # df[검색할 조건], 검색할 조건은 비교연산자 "df['A'] > 0"

                   A         B         C         D
2019-03-01  1.377023  1.117260 -2.063823 -0.660935
2019-03-02  0.482118 -0.821662  0.233439  0.076431
2019-03-03  0.350881  1.097540  0.881603  1.632992
2019-03-05  1.588638  0.289802  2.396268  1.571034

In [50]:
# 파생변수 : 추가한 열
# df['파생변수이름'] = 값(리스트형태)
df['E'] = 0 # 동일한 값을 지정하면 모두 동일한 값으로 채워짐.
df

                   A         B         C         D  E
2019-03-01  1.377023  1.117260 -2.063823 -0.660935  0
2019-03-02  0.482118 -0.821662  0.233439  0.076431  0
2019-03-03  0.350881  1.097540  0.881603  1.632992  0
2019-03-04 -1.081674 -0.216515  1.844239  0.236358  0
2019-03-05  1.588638  0.289802  2.396268  1.571034  0
2019-03-06 -0.458730 -0.822784 -1.158886 -0.360371  0

In [52]:
df['F'] = [100, 200, 300, 400, 500, 600]
df

                   A         B         C         D  E    F
2019-03-01  1.377023  1.117260 -2.063823 -0.660935  0  100
2019-03-02  0.482118 -0.821662  0.233439  0.076431  0  200
2019-03-03  0.350881  1.097540  0.881603  1.632992  0  300
2019-03-04 -1.081674 -0.216515  1.844239  0.236358  0  400
2019-03-05  1.588638  0.289802  2.396268  1.571034  0  500
2019-03-06 -0.458730 -0.822784 -1.158886 -0.360371  0  600

In [54]:
df['G'] = np.nan
df

                   A         B         C         D  E    F   G
2019-03-01  1.377023  1.117260 -2.063823 -0.660935  0  100 NaN
2019-03-02  0.482118 -0.821662  0.233439  0.076431  0  200 NaN
2019-03-03  0.350881  1.097540  0.881603  1.632992  0  300 NaN
2019-03-04 -1.081674 -0.216515  1.844239  0.236358  0  400 NaN
2019-03-05  1.588638  0.289802  2.396268  1.571034  0  500 NaN
2019-03-06 -0.458730 -0.822784 -1.158886 -0.360371  0  600 NaN

In [55]:
df.loc['2019-03-02','E']

0.0

In [58]:
df['H'] = df['A'] + df['B']
df

                   A         B         C         D  E    F   G         H
2019-03-01  1.377023  1.117260 -2.063823 -0.660935  0  100 NaN  2.494283
2019-03-02  0.482118 -0.821662  0.233439  0.076431  0  200 NaN -0.339544
2019-03-03  0.350881  1.097540  0.881603  1.632992  0  300 NaN  1.448422
2019-03-04 -1.081674 -0.216515  1.844239  0.236358  0  400 NaN -1.298190
2019-03-05  1.588638  0.289802  2.396268  1.571034  0  500 NaN  1.878440
2019-03-06 -0.458730 -0.822784 -1.158886 -0.360371  0  600 NaN -1.281514

In [62]:
teen = pd.read_excel('../data/teenage_mental.xls')
teen

,기간,구분,스트레스 인지율,스트레스 인지율.1,스트레스 인지율.2,우울감 경험률,우울감 경험률.1,우울감 경험률.2,자살 생각률,자살 생각률.1,자살 생각률.2
0,기간,구분,전체,남학생,여학생,전체,남학생,여학생,전체,남학생,여학생
1,2018,구분,42.7,34.5,51.5,29.6,24.2,35.4,15.4,11.8,19.2

In [64]:
teen = pd.read_excel('../data/teenage_mental.xls', header=1, usecols='C:K')
teen

     전체   남학생   여학생  전체.1  남학생.1  여학생.1  전체.2  남학생.2  여학생.2
0  42.7  34.5  51.5  29.6   24.2   35.4  15.4   11.8   19.2

In [66]:
col_names=['스트레스전체', '스트레스남학생', '스트레스여학생', '우울전체', '우울남학생', '우울여학생', '자살전체', '자살남학생', '자살여학생']
teen = pd.read_excel('../data/teenage_mental.xls', header=1, usecols='C:K', names=col_names)
teen

   스트레스전체  스트레스남학생  스트레스여학생  우울전체  우울남학생  우울여학생  자살전체  자살남학생  자살여학생
0    42.7     34.5     51.5  29.6   24.2   35.4  15.4   11.8   19.2

In [78]:
teen = pd.read_excel('../data/teenage_mental.xls', header=1, usecols='C:K')
teen

     전체   남학생   여학생  전체.1  남학생.1  여학생.1  전체.2  남학생.2  여학생.2
0  42.7  34.5  51.5  29.6   24.2   35.4  15.4   11.8   19.2

In [72]:
teen.set_index('응답', inplace=True)
teen

    스트레스전체  스트레스남학생  스트레스여학생  우울전체  우울남학생  우울여학생  자살전체  자살남학생  자살여학생
응답
0     42.7     34.5     51.5  29.6   24.2   35.4  15.4   11.8   19.2

In [79]:
pip install jupyterthemes

Collecting jupyterthemes
  Downloading jupyterthemes-0.20.0-py2.py3-none-any.whl (7.0 MB)
     |████████████████████████████████| 7.0 MB 3.1 MB/s eta 0:00:01
Requirement already satisfied: jupyter-core in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jupyterthemes) (4.6.3)
Collecting lesscpy>=0.11.2
  Downloading lesscpy-0.14.0-py2.py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 1.5 MB/s eta 0:00:01
Requirement already satisfied: notebook>=5.6.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jupyterthemes) (6.1.4)
Requirement already satisfied: ipython>=5.4.1 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jupyterthemes) (7.19.0)
Requirement already satisfied: matplotlib>=1.4.3 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jupyterthemes) (3.3.2)
Requirement already satisfied: traitlets in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jupyter-core->jupyterthemes) (5.0.5)
Requirement already satisfied: six in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from lesscpy>=0.11.2->jupyterthemes) (1.15.0)
Requirement already satisfied: ply in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: tornado>=5.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (6.0.4)
Requirement already satisfied: ipykernel in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (5.3.4)
Requirement already satisfied: Send2Trash in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (0.9.1)
Requirement already satisfied: jinja2 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (2.11.2)
Requirement already satisfied: pyzmq>=17 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (19.0.2)
Requirement already satisfied: prometheus-client in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (0.8.0)
Requirement already satisfied: nbformat in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (5.0.8)
Requirement already satisfied: nbconvert in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (6.0.7)
Requirement already satisfied: jupyter-client>=5.3.4 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (6.1.7)
Requirement already satisfied: argon2-cffi in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (20.1.0)
Requirement already satisfied: ipython-genutils in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: decorator in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (4.4.2)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (0.17.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (3.0.8)
Requirement already satisfied: backcall in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: pygments in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (2.7.2)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (50.3.1.post20201107)
Requirement already satisfied: pickleshare in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: pillow>=6.2.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.4.3->jupyterthemes) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.4.3->jupyterthemes) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.10.0)
Requirement already satisfied: numpy>=1.15 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.19.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.3.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.1)
Requirement already satisfied: ptyprocess in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from terminado>=0.8.3->notebook>=5.6.0->jupyterthemes) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (1.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (3.2.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.4.3)
Requirement already satisfied: testpath in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.4.4)
Requirement already satisfied: defusedxml in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.3)
Requirement already satisfied: jupyterlab-pygments in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: bleach in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (3.2.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: cffi>=1.0.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from argon2-cffi->notebook>=5.6.0->jupyterthemes) (1.14.3)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=5.4.1->jupyterthemes) (0.7.0)
Requirement already satisfied: wcwidth in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.2.5)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (20.3.0)
Requirement already satisfied: nest-asyncio in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=5.6.0->jupyterthemes) (1.4.2)
Requirement already satisfied: async-generator in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=5.6.0->jupyterthemes) (1.10)
Requirement already satisfied: webencodings in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: packaging in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (20.4)
Requirement already satisfied: pycparser in /Users/joy/opt/anaconda3/lib/python3.8/site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=5.6.0->jupyterthemes) (2.20)

Installing collected packages: lesscpy, jupyterthemes
Successfully installed jupyterthemes-0.20.0 lesscpy-0.14.0
Note: you may need to restart the kernel to use updated packages.